body {
    background-color: aqua;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-style: normal;
    font-palette: inherit;
    font-variant-emoji: normal;
    padding: auto;
    position: absolute;
}

.menu_button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    background-color: bisque;

}

.announcement {
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    padding: 30px 40px;
    font-size: 24px;
    width: 256;
    margin: auto;
    text-align: center;
    color: white;
    
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    width: fit-content;
    border: 3px solid black;
}

.cell {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px soid #aaa;
}

:root {
    --cell-size: 40px;
}